//colors
$color_0: rgba(51, 181, 229, 0.4);
$color_1: #ddd;
$color_2: #0078a8;
$color_3:  orange;
$color_4: #38f;
$color_5: rgba(255,255,255,0.5);
$color_6: rgba(0,0,0,0.65);
$color_7: #fff;
$color_8: #ccc;
$color_9: black;
$color_10: #f4f4f4;
$color_11: #bbb;
$color_12: rgba(0,0,0,0.4);
$color_13: #333;
$color_14: rgba(255, 255, 255, 0.7);
$color_15: #777;
$color_16: rgba(255, 255, 255, 0.5);
$color_17: rgba(0,0,0,0.2);
$color_18: white;
$color_19: #c3c3c3;
$color_20: #999;
$color_21: #666;
$color_22: #222;

//fonts
$font_0: Lucida Console;
$font_1: Monaco;
$font_2: monospace;
$font_3: Tahoma;
$font_4: Verdana;
$font_5: sans-serif;

//urls
$url_0: url(#default#VML);
$url_1: url(images/layers.png);
$url_2: url(images/layers-2x.png);
$url_3: url(images/marker-icon.png);

//@extend-elements
//original selectors
//.leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-pane >svg, .leaflet-pane >canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer
%extend_1 {
	position: absolute;
	left: 0;
	top: 0;
}

//original selectors
//.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow
%extend_2 {
	-webkit-user-select: none;
	-moz-user-select: none;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	-webkit-user-drag: none;
}

//original selectors
//.leaflet-marker-icon, .leaflet-marker-shadow
%extend_3 {
	display: block;
}

//original selectors
//.leaflet-container .leaflet-overlay-pane svg, .leaflet-container .leaflet-marker-pane img, .leaflet-container .leaflet-shadow-pane img, .leaflet-container .leaflet-tile-pane img, .leaflet-container img.leaflet-image-layer, .leaflet-container .leaflet-tile
%extend_4 {
	max-width: none !important;
	max-height: none !important;
}

//original selectors
//.leaflet-top, .leaflet-bottom
%extend_5 {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
}

//original selectors
//.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile
%extend_6 {
	-webkit-transition: none;
	-moz-transition: none;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: none;
}

//original selectors
//.leaflet-crosshair, .leaflet-crosshair .leaflet-interactive
%extend_7 {
	cursor: crosshair;
}

//original selectors
//.leaflet-popup-pane, .leaflet-control
%extend_8 {
	cursor: auto;
}

//original selectors
//.leaflet-dragging .leaflet-grab, .leaflet-dragging .leaflet-grab .leaflet-interactive, .leaflet-dragging .leaflet-marker-draggable
%extend_9 {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

//original selectors
//.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane >svg path, .leaflet-tile-container
%extend_10 {
	pointer-events: none;
}

//original selectors
//.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane >svg path.leaflet-interactive
%extend_11 {
	pointer-events: visiblePainted;
	pointer-events: auto;
}

//original selectors
//.leaflet-bar a, .leaflet-bar a:hover
%extend_12 {
	background-color: $color_7;
	border-bottom: 1px solid $color_8;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: $color_9;
}

//original selectors
//.leaflet-bar a, .leaflet-control-layers-toggle
%extend_13 {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

//original selectors
//.leaflet-control-zoom-in, .leaflet-control-zoom-out
%extend_14 {
	font: bold 18px $font_0, $font_1, $font_2;
	text-indent: 1px;
}

//original selectors
//.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out
%extend_15 {
	font-size: 22px;
}

//original selectors
//.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle
%extend_16 {
	display: none;
}

//original selectors
//.leaflet-control-attribution, .leaflet-control-scale-line
%extend_17 {
	padding: 0 5px;
	color: $color_13;
}

//original selectors
//.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale
%extend_18 {
	font-size: 11px;
}

//original selectors
//.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar
%extend_19 {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
}

//original selectors
//.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar
%extend_20 {
	border: 2px solid $color_17;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
}

//original selectors
//.leaflet-popup-content-wrapper, .leaflet-popup-tip
%extend_21 {
	background: $color_18;
	color: $color_13;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 3px 14px $color_12;
}

//original selectors
//.leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip
%extend_22 {
	border: 1px solid $color_20;
}

//original selectors
//.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before
%extend_23 {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

//original selectors
//.leaflet-tooltip-bottom:before, .leaflet-tooltip-top:before
%extend_24 {
	left: 50%;
	margin-left: -6px;
}

//original selectors
//.leaflet-tooltip-left:before, .leaflet-tooltip-right:before
%extend_25 {
	top: 50%;
	margin-top: -6px;
}


.leaflet-pane {
	@extend %extend_1;
	z-index: 400;
	> svg {
		@extend %extend_1;
		path {
			@extend %extend_10;
			&.leaflet-interactive {
				@extend %extend_11;
			}
		}
	}
	> canvas {
		@extend %extend_1;
	}
}
.leaflet-tile {
	@extend %extend_1;
	@extend %extend_2;
	filter: inherit;
	visibility: hidden;
}
.leaflet-marker-icon {
	@extend %extend_1;
	@extend %extend_2;
	@extend %extend_3;
	@extend %extend_10;
	&.leaflet-interactive {
		@extend %extend_11;
	}
}
.leaflet-marker-shadow {
	@extend %extend_1;
	@extend %extend_2;
	@extend %extend_3;
	@extend %extend_10;
}
.leaflet-tile-container {
	@extend %extend_1;
	@extend %extend_10;
}
.leaflet-zoom-box {
	@extend %extend_1;
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	z-index: 800;
	border: 2px dotted $color_4;
	background: $color_5;
}
.leaflet-image-layer {
	@extend %extend_1;
	@extend %extend_10;
	&.leaflet-interactive {
		@extend %extend_11;
	}
}
.leaflet-layer {
	@extend %extend_1;
}
.leaflet-container {
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	background: $color_1;
	outline: 0;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	.leaflet-tile {
		@extend %extend_4;
	}
	&.leaflet-touch-zoom {
		-ms-touch-action: pan-x pan-y;
		touch-action: pan-x pan-y;
	}
	&.leaflet-touch-drag {
		-ms-touch-action: pinch-zoom;
		touch-action: none;
		touch-action: pinch-zoom;
		&.leaflet-touch-zoom {
			-ms-touch-action: none;
			touch-action: none;
		}
	}
	a {
		-webkit-tap-highlight-color: $color_0;
		color: $color_2;
		&.leaflet-active {
			outline: 2px solid $color_3;
		}
		&.leaflet-popup-close-button {
			position: absolute;
			top: 0;
			right: 0;
			padding: 4px 4px 0 0;
			border: none;
			text-align: center;
			width: 18px;
			height: 14px;
			font: 16px/14px $font_3, $font_4, $font_5;
			color: $color_19;
			text-decoration: none;
			font-weight: bold;
			background: transparent;
			&:hover {
				color: $color_20;
			}
		}
	}
	.leaflet-control-attribution {
		background: $color_7;
		background: $color_14;
		margin: 0;
		@extend %extend_18;
	}
	.leaflet-control-scale {
		@extend %extend_18;
	}
	.leaflet-overlay-pane svg {
		@extend %extend_4;
	}
	.leaflet-marker-pane img {
		@extend %extend_4;
	}
	.leaflet-shadow-pane img {
		@extend %extend_4;
	}
	.leaflet-tile-pane img {
		@extend %extend_4;
	}
	img.leaflet-image-layer {
		@extend %extend_4;
	}
}
.leaflet-safari {
	.leaflet-tile {
		image-rendering: -webkit-optimize-contrast;
	}
	.leaflet-tile-container {
		width: 1600px;
		height: 1600px;
		-webkit-transform-origin: 0 0;
	}
}
.leaflet-tile-loaded {
	visibility: inherit;
}
.leaflet-overlay-pane {
	z-index: 400;
	svg {
		-moz-user-select: none;
	}
}
.leaflet-tile-pane {
	z-index: 200;
}
.leaflet-shadow-pane {
	z-index: 500;
}
.leaflet-marker-pane {
	z-index: 600;
}
.leaflet-tooltip-pane {
	z-index: 650;
}
.leaflet-popup-pane {
	z-index: 700;
	@extend %extend_8;
}
.leaflet-map-pane {
	canvas {
		z-index: 100;
	}
	svg {
		z-index: 200;
	}
}
.leaflet-vml-shape {
	width: 1px;
	height: 1px;
}
.lvml {
	behavior: $url_0;
	display: inline-block;
	position: absolute;
}
.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted;
	pointer-events: auto;
	float: left;
	clear: both;
	@extend %extend_8;
}
.leaflet-top {
	@extend %extend_5;
	top: 0;
	.leaflet-control {
		margin-top: 10px;
	}
}
.leaflet-bottom {
	@extend %extend_5;
	bottom: 0;
	.leaflet-control {
		margin-bottom: 10px;
	}
	.leaflet-control-scale {
		margin-bottom: 5px;
	}
}
.leaflet-right {
	right: 0;
	.leaflet-control {
		float: right;
		margin-right: 10px;
	}
}
.leaflet-left {
	left: 0;
	.leaflet-control {
		margin-left: 10px;
	}
	.leaflet-control-scale {
		margin-left: 5px;
	}
}
.leaflet-fade-anim {
	.leaflet-tile {
		will-change: opacity;
	}
	.leaflet-popup {
		opacity: 0;
		-webkit-transition: opacity 0.2s linear;
		-moz-transition: opacity 0.2s linear;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 0.2s linear;
	}
	.leaflet-map-pane .leaflet-popup {
		opacity: 1;
	}
}
.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
	transform-origin: 0 0;
}
.leaflet-zoom-anim {
	.leaflet-zoom-animated {
		will-change: transform;
		-webkit-transition: -webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
		-moz-transition: -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.25s cubic-bezier(0,0,0.25,1);
	}
	.leaflet-tile {
		@extend %extend_6;
	}
	.leaflet-zoom-hide {
		visibility: hidden;
	}
}
.leaflet-interactive {
	cursor: pointer;
}
.leaflet-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.leaflet-crosshair {
	@extend %extend_7;
	.leaflet-interactive {
		@extend %extend_7;
	}
}
.leaflet-dragging {
	.leaflet-grab {
		@extend %extend_9;
		.leaflet-interactive {
			@extend %extend_9;
		}
	}
	.leaflet-marker-draggable {
		@extend %extend_9;
	}
}
.leaflet-bar {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 5px $color_6;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	a {
		@extend %extend_12;
		@extend %extend_13;
		&:hover {
			@extend %extend_12;
			background-color: $color_10;
		}
		&:first-child {
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 4px;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 4px;
		}
		&:last-child {
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 4px;
			//Instead of the line below you could use @include border-bottom-right-radius($radius)
			border-bottom-right-radius: 4px;
			border-bottom: none;
		}
		&.leaflet-disabled {
			cursor: default;
			background-color: $color_10;
			color: $color_11;
		}
	}
}
.leaflet-control-layers-toggle {
	@extend %extend_13;
	background-image: $url_1;
	width: 36px;
	height: 36px;
}
.leaflet-touch {
	.leaflet-bar {
		@extend %extend_19;
		@extend %extend_20;
		a {
			width: 30px;
			height: 30px;
			line-height: 30px;
			&:first-child {
				//Instead of the line below you could use @include border-top-left-radius($radius)
				border-top-left-radius: 2px;
				//Instead of the line below you could use @include border-top-right-radius($radius)
				border-top-right-radius: 2px;
			}
			&:last-child {
				//Instead of the line below you could use @include border-bottom-left-radius($radius)
				border-bottom-left-radius: 2px;
				//Instead of the line below you could use @include border-bottom-right-radius($radius)
				border-bottom-right-radius: 2px;
			}
		}
	}
	.leaflet-control-zoom-in {
		@extend %extend_15;
	}
	.leaflet-control-zoom-out {
		@extend %extend_15;
	}
	.leaflet-control-layers-toggle {
		width: 44px;
		height: 44px;
	}
	.leaflet-control-attribution {
		@extend %extend_19;
	}
	.leaflet-control-layers {
		@extend %extend_19;
		@extend %extend_20;
	}
}
.leaflet-control-zoom-in {
	@extend %extend_14;
}
.leaflet-control-zoom-out {
	@extend %extend_14;
}
.leaflet-control-layers {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 5px $color_12;
	background: $color_7;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	.leaflet-control-layers-list {
		@extend %extend_16;
	}
	label {
		display: block;
	}
}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: $color_13;
	background: $color_7;
	.leaflet-control-layers-toggle {
		@extend %extend_16;
	}
	.leaflet-control-layers-list {
		display: block;
		position: relative;
	}
}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 5px;
}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid $color_1;
	margin: 5px -10px 5px -6px;
}
.leaflet-default-icon-path {
	background-image: $url_3;
}
.leaflet-control-attribution {
	@extend %extend_17;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.leaflet-control-scale-line {
	@extend %extend_17;
	border: 2px solid $color_15;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	background: $color_7;
	background: $color_16;
	&:not(:first-child) {
		border-top: 2px solid $color_15;
		border-bottom: none;
		margin-top: -2px;
		&:not(:last-child) {
			border-bottom: 2px solid $color_15;
		}
	}
}
.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 12px;
	@extend %extend_21;
}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	p {
		margin: 18px 0;
	}
}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotate(45deg);
	@extend %extend_21;
}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid $color_1;
	border-top: 1px solid $color_1;
}
.leaflet-oldie {
	.leaflet-popup-content-wrapper {
		zoom: 1;
		@extend %extend_22;
	}
	.leaflet-popup-tip {
		width: 24px;
		margin: 0 auto;
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
		filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
		@extend %extend_22;
	}
	.leaflet-popup-tip-container {
		margin-top: -1px;
	}
	.leaflet-control-zoom {
		@extend %extend_22;
	}
	.leaflet-control-layers {
		@extend %extend_22;
	}
}
.leaflet-div-icon {
	background: $color_7;
	border: 1px solid $color_21;
}
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: $color_7;
	border: 1px solid $color_7;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	color: $color_22;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	pointer-events: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 3px $color_12;
	&.leaflet-clickable {
		cursor: pointer;
		pointer-events: auto;
	}
}
.leaflet-tooltip-top {
	margin-top: -6px;
	&:before {
		@extend %extend_23;
		@extend %extend_24;
		bottom: 0;
		margin-bottom: -12px;
		border-top-color: $color_7;
	}
}
.leaflet-tooltip-bottom {
	margin-top: 6px;
	&:before {
		@extend %extend_23;
		@extend %extend_24;
		top: 0;
		margin-top: -12px;
		margin-left: -6px;
		border-bottom-color: $color_7;
	}
}
.leaflet-tooltip-left {
	margin-left: -6px;
	&:before {
		@extend %extend_23;
		@extend %extend_25;
		right: 0;
		margin-right: -12px;
		border-left-color: $color_7;
	}
}
.leaflet-tooltip-right {
	margin-left: 6px;
	&:before {
		@extend %extend_23;
		@extend %extend_25;
		left: 0;
		margin-left: -12px;
		border-right-color: $color_7;
	}
}
.leaflet-pan-anim .leaflet-tile {
	@extend %extend_6;
}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: $url_2;
	background-size: 26px 26px;
}