.siteFooter
    background: hsl(216, 10%, 30%)
    overflow: hidden
    padding-bottom: 20px
    @include breakpoint(small only)
        padding-bottom: 15px
    a
        border-bottom: 1px solid transparent
        color: white
        transition: border-bottom .3s, color .3s
        &:hover
            border-bottom: 1px solid hsl(37, 100%, 65%)
            color: hsl(37, 100%, 65%)
    &-blockWrapper
        max-width: 150px
        @include breakpoint(small only)
            max-width: none
    &-links
        ul
            list-style: none
            margin: 0
            padding: 0
        @include breakpoint(small only)
            line-height: 2.2
    &-addressWrapper
        max-width: 400px
        @include breakpoint(small only)
            max-width: none
    &-addressBlock
        @include breakpoint(small only)
            margin-top: 28px
    &-timeWorkingBlock
        &_mediumUp
            @include breakpoint(small only)
                display: none
        &_smallOnly
            margin-top: 8px
            @include breakpoint(medium up)
                display: none
    &-blockTitle
        color: hsla(0, 0%, 100%, 0.5)
        font-size: 0.875rem
        font-weight: bold
        line-height: 1
        margin-bottom: 8px
        text-transform: uppercase
    &-blockText
        color: white
        font-size: 1rem
    &-policy
        a
            border-bottom: 1px solid white
    &-wrapper
        padding: 70px 0
        @include breakpoint(small only)
            padding: 25px 0
    &-copyright
        color: hsla(0, 0%, 100%, 0.5)
        font-size: 0.75rem
        font-weight: bold
        text-transform: uppercase
    &-nowrap
        white-space: nowrap