.services
    padding: 90px 0
    position: relative
    @include breakpoint(medium down)
        padding-bottom: 20px
        padding-top: 30px
    @include breakpoint(small only)
        // margin-top: 50%
        padding-bottom: 10px
        padding-top: 20px
    &::after
        background: hsl(0, 0%, 85%)
        bottom: 0
        content: ''
        display: block
        height: 1px
        position: absolute
        width: 100%
    &-title
        font-size: 3.375rem
        font-weight: bold
        margin-bottom: 35px
        @include breakpoint(medium down)
            font-size: 2.5rem
            margin-bottom: 20px
        @media (max-width: 530px)
            font-size: 2rem
            margin-bottom: 15px
    &-wrapper
        @media (max-width: 400px)
            width: calc(100% - 1.25rem) !important
    &-wrapper.is-active
        .services-block
            background: hsl(221, 44%, 41%)
            border-radius: 10px 10px 0 0
            margin-bottom: 0
            &::before
                background: white
        .services-blockTitle
            color: white
            &::after
                border-color: white //hsl(220, 32%, 89%)
                margin-right: 3px
                margin-top: -2px
                transform: rotate(45deg) scaleY(-1)
    &-block
        background: hsl(210, 25%, 98%)
        border: 1px solid hsl(204, 6%, 84%)
        border-radius: 10px
        display: block
        margin-bottom: 20px
        padding: 18px 27px
        padding-right: 40px
        position: relative
        transition: background .3s, margin-bottom .3s, border-radius .3s, box-shadow .3s
        &:hover
            box-shadow: 0 0 20px 1px hsla(0, 0%, 0%, 0.1)
        &::before
            background: hsl(215, 58%, 38%)
            content: ''
            display: block
            height: 46%
            left: 0
            position: absolute
            top: 27%
            transition: background .3s
            width: 4px
        @include breakpoint(small only)
            padding: 10px 27px
    &-blockTitle
        color: hsl(210, 2%, 16%)
        font-size: 1.125rem
        position: relative
        transition: color .3s
        user-select: none
        &::after
            border: 1px solid hsl(220, 1%, 55%)
            border-width: 0 0 2px 2px
            content: ''
            font-size: 0
            height: 10px
            line-height: 0
            margin-top: -4px
            position: absolute
            right: -17px
            top: 50%
            transform: rotate(-45deg) translateY(-50%)
            transition: border-color .3s, transform .1s
            width: 10px
    &-content
        background: white
        border: 1px solid hsl(204, 6%, 84%)
        border-top-style: none
        border-radius: 0 0 10px 10px
        list-style: none
        margin-left: 0
        max-height: 230px
        overflow-y: scroll
        li
            background: transparent
            // padding: 15px 20px
            transition: background .1s
            &:hover
                background: hsl(210, 11%, 96%)
                a
                    color: hsl(215, 58%, 38%)
                    span
                        border-bottom: 1px solid hsl(215, 58%, 38%)
            a   
                color: hsl(210, 2%, 16%)
                display: block
                padding: 15px 20px
                span
                    border-bottom: 1px solid transparent