.home
    &-phoneForm
        display: none
        @media (max-width: 750px)
            display: block
            margin-top: -120px
            padding: 0 0.625rem
            .contactForm
                display: block
    &-sliderWrapper
        @media (max-width: 750px)
            .contactForm
                display: none