<footer>
	<div class="siteFooter">
		<div class="grid-container">
			<div class="siteFooter-wrapper">
				<div class="grid-x grid-margin-x align-justify">
					<div class="cell small-6 medium-auto siteFooter-blockWrapper">
						<div class="siteFooter-blockTitle">Карта сайта</div>
						<div class="grid-x siteFooter-links" data-smooth-scroll data-animation-duration="350" data-animation-easing="swing">
							<div class="cell">
								<ul>
									<li><a href="#our-mission">Наша миссия</a></li>
									<li><a href="#jurists">Юристы</a></li>
									<li><a href="#lawyers">Адвокаты</a></li>
									<li><a href="#categories">Категории</a></li>
									<li><a href="#address">Адрес офиса</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="cell small-6 medium-auto siteFooter-blockWrapper">
						<div class="grid-y">
							<div class="cell">
								<div class="siteFooter-blockTitle">Контакты</div>
								<div class="siteFooter-blockText siteFooter-link"><a href="tel:+78129208872">+7 (812) 920-88-72</a></div>
								<div class="siteFooter-blockText siteFooter-link"><a href="mailto:uk-24@bk.ru">uk-24@bk.ru</a></div>
							</div>
							<!-- This is only visible on small screens -->
							<div class="cell siteFooter-timeWorkingBlock siteFooter-timeWorkingBlock_smallOnly">
								<div class="siteFooter-blockTitle">Время работы</div>
								<div class="siteFooter-blockText">
									<span class="siteFooter-nowrap">Пн - Пт  9.00 - 19.00</span><br>
									<span class="siteFooter-nowrap">Сб 9.00 - 13.00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="cell small-12 medium-auto siteFooter-addressWrapper">
						<div class="">
							<div class="siteFooter-blockTitle siteFooter-addressBlock">Адрес</div>
							<address class="siteFooter-blockText">Санкт-Петербург, наб. Черной речки, д. 41В, к. 11, БЦ «Прогресс Сити», вход с улицы Графова (есть парковка у входа)</address>
						</div>
					</div>
					<div class="cell small-6 medium-shrink siteFooter-timeWorkingBlock siteFooter-timeWorkingBlock_mediumUp">
						<div class="siteFooter-blockTitle">Время работы</div>
						<div class="siteFooter-blockText">
							<span class="siteFooter-nowrap">Пн - Пт  9.00 - 19.00</span><br>
							<span class="siteFooter-nowrap">Сб 9.00 - 13.00</span>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-x">
				<div class="cell small-12 s">
					<div class="siteFooter-copyright">Полное или частичное копирование данного сайта запрещено. "Точка решения" . 2018г. <a class="siteFooter-policy siteFooter-nowrap" href="">Политика конфиденциальности</a></div>
				</div>
			</div>
		</div>
	</div>
</footer>
