<header data-sticky-container>
	<div class="siteHeader-wrapper sticky" data-sticky data-margin-top="0" data-sticky-on="small" id="siteHeader">
		<div class="siteHeader" id="siteHeader">
			<div class="grid-container">
				<div class="grid-x align-middle">
					<div class="cell small-shrink auto">
						<div class="grid-x">
							<div class="cell shrink">
								<a href="" class="siteHeader-logo"><img src="assets/img/logo.png" alt=""></a>
							</div>
							<div class="cell shrink align-self-middle siteHeader-siteInfo">
								<div class="grid-y">
									<div class="cell shrink">
										<div class="siteHeader-companyTitle">Точка решения</div>
									</div>
									<div class="cell shrink">
										<div class="siteHeader-companyService">Юридическая компания</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cell shrink">
						<a href="tel:+78129208872" class="siteHeader-phone">+7 (812) 920-88-72</a>
					</div>
					<div class="cell shrink">
						<a href="#consultation" class="siteHeader-callBack" data-mfp>Заказать звонок</a>
					</div>
					<button class="menuToggler siteHeader-menu" data-toggle="menuToggler" id="menuTogglerHamburger">
						<span class="bar-top"></span>
						<span class="bar-mid"></span>
						<span class="bar-bot"></span>
					</button>
				</div>
			</div>
		</div>
		<nav class="siteNav" id="menuToggler" data-toggler=".siteNav_open">
			<div id="sb-search" class="searchContainer">
				<div class="grid-container">
					<div class="grid-x align-middle small-margin-collapse navSearch">
						<div class="cell small-order-2 expand medium-auto">
							<ul class="siteNav-menu" data-smooth-scroll data-animation-duration="350" data-animation-easing="swing">
								<li><a href="#our-mission">Наша миссия</a></li>
								<li><a href="#jurists">Юристы</a></li>
								<li><a href="#lawyers">Адвокаты</a></li>
								<li><a href="#categories">Категории</a></li>
								<li><a href="#address">Адрес офиса</a></li>
							</ul>
						</div>
						<div class="cell small-order-1 medium-shrink small-expand navSearch-form" id="search-form">
							<form style="position: static; width: 100%; height: 100%">
								<input class="navSearch-input" placeholder="Введите текст и нажмите 'Ввод'" type="search" value="" name="search" id="search" autocomplete="off">
							</form>
						</div>
						<div class="cell small-order-3 shrink navSearch-buttonWrapper" id="search-button-wrapper">
							<img id="search-button" class="navSearch-button" src="assets/img/search.svg" alt="" style="cursor: pointer" height="18" width="18">
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
