<section class="benefits">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell">
				<h1 class="benefits-title" id="our-mission">Наши преимущества</h1>
			</div>
			<div class="cell">
				<div class="grid-x grid-margin-y">
					<div class="cell medium-4 large-3">
						<div class="benefits-block">
							<div class="grid-x">
								<div class="cell">
									<img src="../assets/img/benefit.png" alt="">
								</div>
								<div class="cell">
									<h2 class="benefits-blockTitle">Доступные цены</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="cell medium-4 large-3">
						<div class="benefits-block">
							<div class="grid-x">
								<div class="cell">
									<img src="../assets/img/benefit.png" alt="">
								</div>
								<div class="cell">
									<h2 class="benefits-blockTitle">Рассрочка при оплате услуг</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="cell medium-4 large-3">
						<div class="benefits-block">
							<div class="grid-x">
								<div class="cell">
									<img src="../assets/img/benefit.png" alt="">
								</div>
								<div class="cell">
									<h2 class="benefits-blockTitle">Гарантия победы в суде</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="cell medium-4 large-3">
						<div class="benefits-block">
							<div class="grid-x">
								<div class="cell">
									<img src="../assets/img/benefit.png" alt="">
								</div>
								<div class="cell">
									<h2 class="benefits-blockTitle">Специализируемся только на долевом строительстве</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="cell medium-4 large-3">
						<div class="benefits-block">
							<div class="grid-x">
								<div class="cell">
									<img src="../assets/img/benefit.png" alt="">
								</div>
								<div class="cell">
									<h2 class="benefits-blockTitle">Только опытные юристы, никаких менеджеров по продажам</h2>
								</div>
							</div>
						</div>
					</div>
					<!-- At the moment there is no need in it -->
					<!-- <div class="cell medium-12 large-7 contactLawyer" id="consultation-form-id">
						<div class="contactLawyer-main">
							<p class="contactLawyer-label">Получите подробную консультацию юриста бесплатно</p>
							<form action="">
								<input type="tel" name="" id="consultationInput" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone>
								<div class="buttonSubmit">
									<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
								</div>
							</form>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
