<section class="home-sliderWrapper">
	<div class="home-slider slider" data-slick data-slick-options='{"slidesToShow": 4, "slidesToScroll": 4}' id="home-slider">
		<div class="slider-slide" style="background-image: url('assets/img/slider.jpg');">
			<div class="grid-container">
				<div class="grid-x align-middle">
					<div class="cell large-8 medium-7 small-9">
						<div class="slider-slideTitle">Ведущие адвокаты по долевому строительству в СПб и ЛО</div>
						<div class="slider-slideDesc">реальная помощь дольщикам</div>
					</div>
					<div class="cell large-4 medium-5 self-align-right contactForm">
						<div class="contactForm-main">
							<div class="grid-y">
								<div class="cell">
									<div class="contactForm-icon">
										<img src="assets/img/chat.svg" alt="" width="23px" height="21px">
									</div>
								</div>
								<div class="cell">
									<div class="contactForm-label">Получите бесплатную консультацию</div>
								</div>
								<div class="cell">
									<form action="">
										<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone"
											data-masked-input-phone>
										<div class="buttonSubmit">
											<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="contactForm-substrate"></div>
						<div class="contactForm-substrate contactForm-substrate_bottom"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-slide" style="background-image: url('assets/img/slider.jpg');">
			<div class="grid-container">
				<div class="grid-x align-middle">
					<div class="cell large-8 medium-7 small-9">
						<div class="slider-slideTitle">Тут какой-либо заголовок</div>
						<div class="slider-slideDesc">с какой-либо подписью</div>
					</div>
					<div class="cell large-4 medium-5 self-align-right contactForm">
						<div class="contactForm-main">
							<div class="grid-y">
								<div class="cell">
									<div class="contactForm-icon">
										<img src="assets/img/chat.svg" alt="" width="23px" height="21px">
									</div>
								</div>
								<div class="cell">
									<div class="contactForm-label">Получите бесплатную консультацию</div>
								</div>
								<div class="cell">
									<form action="">
										<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone"
											data-masked-input-phone>
										<div class="buttonSubmit">
											<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="contactForm-substrate"></div>
						<div class="contactForm-substrate contactForm-substrate_bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell">
				<div id="sliderDots"></div>
			</div>
		</div>
	</div>
</section>
<div class="home-phoneForm">
	<div class="contactForm">
		<div class="contactForm-main">
			<div class="grid-y">
				<div class="cell">
					<div class="contactForm-icon">
						<img src="assets/img/chat.svg" alt="" width="23px" height="21px">
					</div>
				</div>
				<div class="cell">
					<div class="contactForm-label">Получите бесплатную консультацию</div>
				</div>
				<div class="cell">
					<form action="">
						<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone><!--
						--><div class="buttonSubmit">
							<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="contactForm-substrate"></div>
		<div class="contactForm-substrate contactForm-substrate_bottom"></div>
	</div>
</div>
