<section class="map" id="address">
	<div class="grid-container full">
		<div class="grid-x">
			<div class="cell medium-6">
				<div id="yandex-map" class="map-container"></div>
			</div>
			<div class="cell small-12 medium-6">
				<div class="map-info">
					<!-- <p class="map-caption">Контакты</p> -->
					<div class="map-label">Остались вопросы? звоните нам по номеру</div>
					<div class="map-phone"><a href="tel:+78129208872">+7 (812) 920-88-72</a></div>
					<div class="map-label">Или приезжайте на консультацию в офис</div>
					<div class="map-address" title="Найти местоположение компании на карте" data-get-location-map>Санкт-Петербург, наб. Черной речки, д. 41В, к. 11</div>
					<div class="map-label">БЦ «Прогресс Сити», вход с улицы Графова (есть парковка у входа)</div>
					<div class="map-contactForm">
						<div class="contactForm contactForm_largeUp">
							<div class="contactForm-main">
								<div class="grid-y">
									<div class="cell">
										<h2 class="contactForm-label">Получите бесплатную консультацию</h2>
									</div>
									<div class="cell">
										<form action="">
											<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone>
											<div class="buttonSubmit">
												<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="map-contactFormMobile">
					<div class="contactForm contactForm_mediumDown">
						<div class="contactForm-main">
							<div class="grid-y">
								<div class="cell">
									<h2 class="contactForm-label">Получите бесплатную консультацию</h2>
								</div>
								<div class="cell">
									<form action="">
										<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone><!--
										--><div class="buttonSubmit">
											<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
