<div class="mfp-hide modalCallback" id="consultation">
	<div class="contactForm">
		<div class="contactForm-main">
			<div class="grid-y">
				<div class="cell">
					<div class="contactForm-icon">
						<img src="assets/img/chat.svg" alt="" width="23px" height="21px">
					</div>
				</div>
				<div class="cell">
					<h2 class="contactForm-label">Получите бесплатную консультацию</h2>
				</div>
				<div class="cell">
					<form action="">
						<input type="tel" name="" id="" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone>
						<div class="buttonSubmit">
							<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="contactForm-substrate"></div>
		<div class="contactForm-substrate contactForm-substrate_bottom"></div>
		<button title="Закрыть" type="button" class="mfp-close">×</button>
	</div>
</div>
