<div class="sideBar">
	<div class="grid-x grid-margin-x grid-margin-y large-margin-collapse">
		<section class="cell small-12 medium-6 large-12">
			<div class="sideBar-contactLawyer contactLawyer">
				<div class="contactLawyer-main">
					<p class="contactLawyer-label">Получите подробную консультацию юриста бесплатно</p>
					<p class="contactLawyer-text">Укажите свой телефон и наш юрист свяжется с Вами в течение 5 минут</p>
					<form action="">
						<input type="tel" name="" id="consultationInput" placeholder="Введите ваш телефон" class="buttonPhone" data-masked-input-phone><!--
						--><div class="buttonSubmit">
							<input type="submit" value="Получить консультацию" class="buttonSubmit-btn">
						</div>
					</form>
				</div>
			</div>
		</section>
		<section class="cell small-12 medium-6 large-12">
			<div class="socialLinks">
				<p class="socialLinks-caption">Мы в социальных сетях</p>
				<p class="socialLinks-text">Получайте еще больше полезной информации, а также специальные предложения и скидки</p>
				<ul class="socialLinks-links">
					<li class="socialLinks-link socialLinks-vk"><a target="_blank" href=""><i class="socialLinks-icon icon-vkontakte"></i></a></li><!--
					--><li class="socialLinks-link socialLinks-youtube"><a target="_blank" href=""><i class="socialLinks-icon icon-youtube-play"></i></a></li><!--
					--><li class="socialLinks-link socialLinks-instagram"><a target="_blank" href="icon-instagram"><i class="socialLinks-icon icon-instagram"></i></a></li><!--
					--><li class="socialLinks-link socialLinks-facebook"><a target="_blank" href=""><i class="socialLinks-icon icon-facebook"></i></a></li><!--
					--><li class="socialLinks-link socialLinks-ok"><a target="_blank" href=""><i class="socialLinks-icon icon-odnoklassniki"></i></a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
